[submodule "thread_pool"]
	path = libs/thread_pool
	url = git://github.com/progschj/ThreadPool.git
[submodule "libs/json"]
	path = libs/json
	url = git@github.com:nlohmann/json.git
[submodule "libs/SQLiteCpp"]
	path = libs/SQLiteCpp
	url = git@github.com:SRombauts/SQLiteCpp.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = git@github.com:gabime/spdlog.git
